<nav>
  <a href='/'><button class='btn btn-default' type='button' id='home'> Home </button></a>
  <div class="dropdown" id='musicmenu'>
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mushroom Project 1
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/music">All Project 1</a></li>
      <li><a href="/music/newMusic">Add Mushroom to Project</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mushroom Project 2
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/game">All Project 2</a></li>
      <li><a href="/game/newGame">Add Mushroom to Project</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mushroom Project 3
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/movie">All Project 3</a></li>
      <li><a href="/movie/newMovie">Add Mushroom to Project</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Mushroom Project 4
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/tv-show">All Project 4</a></li>
      <li><a href="/tv-show/newTV">Add Mushroom to Project</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Growth Rates
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/genre">All Rates</a></li>
      <li><a href="/genre/newGenre">Add Rates</a></li>
    </ul>
  </div>
</nav>