<nav>
    <span>
        <a href="/">Home</a>
    </span>
    <span>
        <a href="/game">Games</a>
        <a href="/music">Music</a>
        <a href="/movie">Movies</a>
        <a href="/tv-show">TV Shows</a>
    </span>
</nav>