<nav>
  <a href='/'><button class='btn btn-default' type='button' id='home'> Home </button></a>
  <div class="dropdown" id='musicmenu'>
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Music
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/music">All Music</a></li>
      <li><a href="/music/newMusic">Add Music</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Games
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/game">All Games</a></li>
      <li><a href="/game/newGame">Add Game</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Movies
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/movie">All Movies</a></li>
      <li><a href="/movie/newMovie">Add Movie</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">TV Shows
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/tv-show">All Shows</a></li>
      <li><a href="/tv-show/newTV">Add Show</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Genres
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/genre">All Genres</a></li>
      <li><a href="/genre/newGenre">Add Genre</a></li>
    </ul>
  </div>
</nav>