<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>EHub.</title>
</head>
<body>
    <div id='title'>
        <h1 id='ehub'>EHub.</h1>
    </div>
    <br>
    <p>A place to catalogue your favorite music, games, movies, and TV Shows.</p>
    <div id='categories'>
        <div id='music-category'>
            <a href='./music' id='music-link'><img src='/images/musicrmbg.png'></a>
        </div>
        <div id='movie-category'>
            <a href='./movie' id='movie-link'><img src='/images/moviermbg.png'></a>
        </div>
        <div id='game-category'>
            <a href='./game' id='game-link'><img src='/images/gamermbg.png'></a>
        </div>
        <div id='tv-category'>
            <a href='./tv-show' id='tv-link'><img src='/images/tvrmbg.png'></a>
        </div>
    </div>
    </div>
</body>
</html>