<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>GAMEPAGE</h1>
    <form method='POST' action='/game'>
        <label for='title'>Title of Game:</label>
        <input type='text' name='title'>
        <br>
        <label for="summary">Game Summary:</label>
        <input type="text" name="summary">
        <br>
        <input type='submit'>
    </form>
</body>
</html>