body {
    background-position: center;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
#title {
    font-weight: 200;
    background-position: center;
    text-align: center;
    color: black;
    background-color: rgb(202, 202, 202);
    margin-top: 100px;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
nav {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    background-color: rgb(202, 202, 202);
    padding: 5px;
}

nav a {
    text-decoration: none;
    margin-left: 5px;
}

a:hover{
    color: black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000 ;
}
#add{
    font-weight: 300;
    width: 20%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin-top: 0%;
}
#add:hover{
    color: black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
a:visited{
    color: red;
}
