body {
    background-image:url('./images/musicbg.jpg');
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    background-color: #363636;
    margin: 0px;
    font-family: 'Epilogue', sans-serif;
}
#title{
    letter-spacing: 5px;
}
nav {
    color: black;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    background-color: rgba(12, 12, 12, 1);
    padding: 5px;
    border: 2px solid #D2D2D2;
    letter-spacing: 2px;
}
#nav:visited{
    color: #363636;
}
nav a {
    text-decoration: none;
    margin-left: 5px;
}
a{
    color: rgba(255,255,255,0.9);
}
a:hover{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
ul{
    list-style-type: none;
    display: inline;
}
#edit:visited{
    color: #363636;
}
#back:visited{
    color: #363636;
}
a:visited{
    color: #D2D2D2;
    border: 2px solid white;
}
#body{
    font-size: 24px;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    padding: 24px;
    width: 32%;
    height: auto;
    margin-top: 5%;
    margin-left: 32%;
    margin-bottom: 25%;
    color: rgba(1,1,1,0.7);
}
input[type='submit']{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#dropdownMenuButton{
    width: 150px;
    padding: 10px;
    background: rgba(1,1,1,0.7);
    font-size: 11px;
    letter-spacing: 2px;
}
#deleteform:hover{
    cursor: pointer;
    background-color: #363636;
    color: #D2D2D2;
}
h2{
    text-decoration: underline;
    font-size: 28px;
    text-align: left;
    letter-spacing: 2px;
}
h3{
    letter-spacing: 1px;
    background: rgba(1,1,1,0.3);
    padding: 8px;
    word-wrap: break-word;
    text-align: left;
    font-size: 20px;
}
#back{
    text-align: left;
    letter-spacing: 2px;
    font-size: 11px;
}
#back:hover{
    cursor: pointer;
    background-color: #363636;
    color: #D2D2D2;
}
#edit{
    letter-spacing: 2px;
}
#edit:hover{
    cursor: pointer;
    background-color: #363636;
    color: #D2D2D2;
}
#delete{
    letter-spacing: 2px;
}
.btn-primary{
    border: 2px solid black;
    background: rgba(1,1,1,0.6);
}
.btn-danger{
    border: 2px solid black;
}
.btn-group{
    display: flex;
    justify-content: space-between;
} 