body {
    background-position: center;
    margin: 0px;
}
#title {
    background-position: center;
    text-align: center;
    color: black;
    background-color: rgb(202, 202, 202);
    margin-top: 100px;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
#categories{
    display: grid;
    margin-left: 50%;
    margin-top: 10%;
}
#music-category{
    background-image: url('./images/record.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
    border: 1px solid black;
    height: 200px;
    width: 25%;
    margin-left: 20%;
    margin-top: 11%;
    display: flex;
}
#music{
   display: inline-block;
   align-self: flex-end;
   margin: auto;
   margin-bottom: 0%; 
}

#games{
    background-image: url('./images/controller.png');
    background-position: left;
    background-size: 15%;
    background-repeat: no-repeat;
    text-align: right;
    border: 1px solid black;
    width: 60%;
    height: 50%;
    padding: 2px;
}
#movies{
    background-image: url('./images/movie.png');
    background-position: left;
    background-size: 15%;
    background-repeat: no-repeat;
    text-align: right;
    border: 1px solid black;
    width: 60%;
    height: 50%;
    padding: 2px;
}
#shows{
    background-image: url('./images/tv.jpg');
    background-position: left;
    background-size: 15%;
    background-repeat: no-repeat;
    text-align: right;
    border: 1px solid black;
    width: 60%;
    height: 50%;
    padding: 2px;
}
p {
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(202, 202, 202);
    padding: 5px;
}

nav a {
    text-decoration: none;
    margin-left: 5px;
}

nav a:hover{
    color: white;
}