body {
    background-image:url('./images/1.jpg');
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    background-color: white;
    margin: 0px;
    font-family: 'Epilogue', sans-serif;
    margin-bottom: 20%;
}
#ehub{
    color: rgba(1,1,1,0.85);
    text-align:center;
    margin-top: 40%;
    font-size: 65px;
}
#title {
    border-radius: 100%;
    height:200px;
    width: 200px;
    background-position: center;
    color: black;
    background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.7), rgba(255,255,255,0.9) );
    margin-top: 100px;
    padding: 50px;
    margin-left: 39%;
    margin-right: 200px;
}
#music-link:hover{
    height: 200px;
    background-size: 280px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding: 10px;
}
#game-link:hover{
    height: 170px;
    background-size: 280px;
    padding: 10px;
    padding-top:20px;
    padding-bottom:20px;
}
#movie-link:hover{
    height: 200px;
    background-size: 280px;
    padding: 10px;
    padding-top:20px;
    padding-bottom:20px;
}
#tv-link:hover{
    height: 230px;
    background-size: 280px;
    padding: 6px;
}
#music-link{
    justify-content: center;
    background: rgba(255,255,255,0.4);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    position: absolute;
    height: 120px;
    width: 200px;
    margin-top: 3%;
    display: flex;
    margin-left: 6%;
    padding-top: 18px;
    padding-bottom: 18px;
}
#game-link{
    justify-content: center;
    background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.7), rgba(255,255,255,0.9) );
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    position: absolute;
    height: 90px;
    width: 25%;
    display: flex;
    margin-left: 23%;
    margin-top: 3%;
    padding: 33px;
}
#movie-link{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.7), rgba(255,255,255,0.9) );
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    position: absolute;
    height: 100px;
    width: 25%;
    margin-left: 48%;
    margin-top: 3%;
    padding: 28px;
}

#tv-link{
    justify-content: center;
    background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.7), rgba(255,255,255,0.9) );
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    position: absolute;
    height: 150px;
    width: 25%;
    display: flex;
    margin-left: 75%;
    margin-top: 3%;
}
p {
    color: rgba(1,1,1,0.85);
    background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.7), rgba(255,255,255,0.9) );
    font-style: italic;
    text-align: center;
    padding: 10px;
}
a:hover{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
a:visited{
    color: #363636;
    border: 2px solid white;
}