<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/newMusicStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1 id='header'>Add A Song</h1>
    <div id='body'>
        <img src='../images/record.png' id='img'>
        <br>
        <br>
        <form method='POST' action='/music/newMusic'>
            <label for='title'>Song Title:</label>
            <br>
            <br>
            <input type='text' name='title'>
            <br>
            <label for="artist">Artist:</label>
            <br>
            <br>
            <input type="text" name="artist">
            <br>
            <label for="genre">Genre:</label>
            <br>
            <br>
            <input type="text" name="genre">
            <br>
            <label for="link">Song Link:</label>
            <br>
            <br>
            <input type="text" name="link">
            <br>
            <label for="musiccover" id='musiccover'>Album Cover:</label>
            <br>
            <br>
            <input type="text" name="musiccover">
            <br>
            <input type='submit'>
        </form>
    </div>
</body>
</html>